@tailwind base;
@tailwind components;
@tailwind utilities;

  /* const colors = {
    primary: "#C4B5FD", 
    secondary: "#38BDF8",
    ternary: "#FECACA", 
    primaryDark: "#10B981",
    secondaryDark: "#0EA5E9",
    lightBg: "#F8FAFC"
  }; */